<form id="signUpForm" name="signUp" novalidate>
  <input required type="text" name="firstName" ng-model="ctrl.user.firstName" placeholder="First Name">
  <span ng-if="signUp.firstName.$error.required && signUp.firstName.$touched">First Name is required</span>
  <input required type="text" name="lastName" ng-model="ctrl.user.lastName" placeholder="Last Name">
  <span ng-if="signUp.lastName.$error.required && signUp.lastName.$touched">Last Name is required</span>
  <input required type="email" name="email" ng-model="ctrl.user.email" placeholder="Email">
  <span ng-if="signUp.email.$error.required && signUp.email.$touched">Email is required</span>
  <span ng-if="!signUp.email.$error.required && signUp.email.$invalid && signUp.email.$touched">Must be a valid email id</span>
  <input required type="text" pattern="(\d{3}-\d{3}-\d{4})" name="phone" ng-model="ctrl.user.phone" placeholder="Phone number">
  <span ng-if="signUp.phone.$error.required && signUp.phone.$touched">Phone is required</span>
  <span ng-if="!signUp.phone.$error.required && signUp.phone.$invalid && signUp.phone.$touched">Must be a valid phone number (###-###-####)</span>
  <input type="text" name="favItem" ng-model="ctrl.user.favItem" placeholder="Favorite Menu Item">
  <span ng-if="ctrl.favMessage" ng-bind="ctrl.favMessage"></span>
  <button ng-disabled="signUp.$invalid" type="submit" name="submit" value="Submit" ng-click="ctrl.go()">Submit</button>
  <span id="messageSpan" ng-if="ctrl.message" ng-bind="ctrl.message"></span>
</form>
